td a.active {
    background-color: #eeca86;
    color: white;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:linear-gradient(to right,rgb(255, 255, 255), #eeca86);
}

#listi {
    list-style-type:none;
    border-left: 5px #eeca86 solid;
    padding: 5px;
}
#tabla {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    font-family: monospace;
    text-align: center;
    background:linear-gradient(to right,rgb(255, 255, 255), #eeca86);
}

#yipie {
    max-width: 1300px;
}

.tecnicas {
    font-size: 22px;
    font-style: italic;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 900px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}